# .env file

# Garmin Connect API Credentials
GARMINEMAIL=your_garmin_email
GARMINPASSWORD=your_garmin_password
OPENAI_API_KEY=your_openai_api_key

# Token Storage Locations
GARMINTOKENS=~/.garminconnect
GARMINTOKENS_BASE64=~/.garminconnect_base64

# SMTP Configuration for Email Reporting
SMTP_SERVER=your_smtp_server
SMTP_PORT=587
FROM_ADDRESS=your_from_address
SMTP_TO=your_to_address
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
